<a href="https://colab.research.google.com/github/hak1319/Python_study/blob/main/python_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 def
> 종류
1. 매개변수가 필요한 함수
    - def function(): print()
2. 매개변수가 필요하지 않은 함수
    - def function(a,b)
3. 결과값을 반환하는 함수(return)
    - def function(a,b) :
    return a+b
4. 결과값을 반환하지 않는 함수

        * 함수에서 선언된 변수 : 매개변수(parameter)
        * 매개변수 : 함수내부에서 변수와 동일한 형태로 사용
        * 함수 끝에 return 을하여 값을 반환함
        * 함수 설정시 기본값을 가지는 매개변수는 반드시 다른 매개변수 뒤에 와야댐
        def f1(x=1,y) <- 잘못됨
        def f1(y,x=1,y2=3) <-이런식
        * 함수 안에서 쓰이는 함수를 지역함수라 하는데 이것을 전역에 쓰게 하려면 global을 쓰면됨
        global 지역변수
        * *args(언팩킹) : args 라는 언팩킹 설정 ,어떤 변수가 가변임
        어떤 묶음이 오더라도 풀어서 사용하게 해준다 . 튜플형식으로 게속 늘려서 와도 내가 풀어서 사용할게
        * **kwargs(언팩킹) : 딕셔너리 형태의 변수 언팩킹
        * 중첩함수
        * 람다(lambda) 람다 함수를 변수에 할당
            - 이름 없는 함수를 만드는 것
            - 간결한 코드 작성시 사용 lambda x,y:x*y
            - 메모리 절약 , 가독성 향상 , 코드 간결
            - 즉시 실행 함수 - >메모리 초기화
            - 남발시 가독성 오히려 감수


# method

        * map(function,iterable) : 적용할 함수, 함수를 적용할 데이터 집합
        * min(a,b) : a와 b 중에 작은 것
        * max(a,b)
        * sum()
        * find(str,start,end) : start 의 위치부터 end 까지 str 의 문자에 해당하는 위치 반환
        * split() : 어떤 문자열을 공백을 기준으로 리스트 변경
            - split(sep='') : 설정한 값을 기준으로 리스트로 변경
            
* python 의 다양한 모듈을 불러오는 방법
    - (ex) math 모듈
        - random 모듈 - 난수 무작위 섞기등의 함수
        - sys,os - 운영체제 관련 함수
        - urllib - 인터넷 관련 함수
        - cslrobots - 휴보에 관련 함수
        - cs1graphics - 그래픽 관련 함수
        - cs1media - 사진 처리에 관련 함수
    - import 모듈
        + 이 모듈을 사용할 건데 사용할때마다 모듈.함수() - 모듈안에 있는 함수를 사용하겠다.
    - from 모듈
        + from 모듈* (모듈 안의 모든 함수를 쓰겠다)
        + from 모듈 00(모듈 안의 00라는 함수를 쓰겠다)
* 변수
    - 영어 문자 , 숫자, 밑줄 문자로만 가능
    - 숫자를 이름의 첫 글자로 사용불가
    - 파이썬에 등록된 키워드와 동일한 이름 사용불가 (def,if,while..)
    - 이름은 대,소 문자를 구별함  
    - none 이라 뜨면 객체에 반환된 것이 없다는 것을 의미

* 포맷연산자
    - %d - 10진법 정수
    - %3d - ~d가 차디하는 변수가 차지하는 값 3개라고 정의
    - %g - 실수
    - %.2f - 소수점 자리수가 설정된 실수(2f니까 소수점 2자리까지)
    - %s - 모든자료형(문자열포함)
* 예외 처리
    - try : 00 except 0000(ex ValueError) : 000 -> 에러가 나오면 벨류에러가 잡아서 그부문이 실행됨

### print
        * 출력함수
        * print(' ' * ) : 곱가능
        * method
            - strip() : 공백제거
                print(00.lstrip()) #왼쪽공백제거 , rtsrip(), strip() #양쪽공백제거
            - split('00') : 안에 들어있는 구분자를 기준으로 문자열을 분할. default는 공백
                print(00.split(' ')) 00 값 중 ''에 해당하는 것을 기준으로 분할(띄어쓰기)
                route ='서울역->대전역->부산역'
                station = route.split('->')
                print(station)  -> ['서울역','대전역','부산역']
            - ''.join(리스트) : '00' 사이 구분자를 매게로 합쳐줌
        * f-string
            - f' ~~ {변수} ~~ '
                print(f' 나는 {변수} 입니다')
        * format
            - ' ~~ {} ~~ {} ~~'.format(변수,변수) -> {} 안에 변수가 차례대로 들어감
                print(' 나는 ~{} 에서 태어나 {}에서 자라 {} 언어를 사용합니다.'format(변수,변수,변수))
* 문자열에서 ex a = "프린트는\t출력" 이런식으로 사용가능 출력하면 저코드가 추가되어 나온다
 - \n : 개행
 - \t : 탭
 - \\ : 문자
 - \" : 문자
 - \000 : 널문자
 - raw string 을 사용하면 escape 문자 출력가능 a = r'a\t\a\'

### 연산자

        * divmod(a,b) : a를 b로 나눈 몫과 나머지를 동시에 구하는 연산자
        * .swapcase() : 대소문자를 변환 해주는 연산자
            - s= 'abced'
              b= s.swapcase()
        * +,-,*,/,//(정수나눗셈),%(나머지),**(거듭제곱)
          문자열에도 사용 가능 - str(17)+" "+str(3.1415) -> 17 3.1415
          대소비교는 사전식 순서에 따라 진행
        * 논리연산자 !(not),&(and),|(or)       

### 입력 input()

        * 기본 타입 (str)
        * int(input()) - 형변환 가능
        * print 문에서 바로 입력 받기
            - print("성 - {} ,이름 - {}".format(input("성을 적으시오 : "),input("이름 " : )))

In [ ]:
route ='서울역->대전역->부산역'
station = route.split('->')
print(station)

['서울역', '대전역', '부산역']

In [ ]:
# map 함수 사용 예제
def add(x, y):
    return x + y

numbers1 = [1, 2, 3, 4, 5]
numbers2 = [10, 20, 30, 40, 50]
added_numbers = map(add, numbers1, numbers2)
print(list(added_numbers))  # [11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]

In [ ]:
# split 예제
s='abc def'
s.split()
s1='2019/12/13'
s1.split('/')
print(s)
print(s1)

abc def
2019/12/13

In [ ]:
# 튜플 언팩킹 *
def args_func(*args):
    for i, v in enumerate(args):
        print('result : {}'.format(i),v)
    print('-------')

args_func('lee')
args_func(['lee','park'])

result : 0 lee
-------
result : 0 ['lee', 'park']
-------

In [ ]:
# 딕셔너리 언팩킹
def kwargs_func(**kwargs):
    for v in kwargs.keys():
        print("{}".format(v),kwargs[v])
    print ('--------')
kwargs_func(name='lee')
kwargs_func(name='lee',name2='park',send=True)

name lee
--------
name lee
name2 park
send True
--------

In [ ]:
# 전체 혼합
def example(args_1,args_2,*args,**kwargs):
    print(args_1,args_2,args,kwargs)

example(10,20,'lee','kim','park',age1=20,age2=20,age3=30) # 인자를 게속 넣을수 있다 . 인자를 엄청 유연하게 사용할 수 있다.

10 20 ('lee', 'kim', 'park') {'age1': 20, 'age2': 20, 'age3': 30}

In [ ]:
# 중첩 함수
def nested_func(num):
    def func_in_func(num):
        print(num)
    print("in fun")
    func_in_func(num+100)
nested_func(100)

in fun
200

In [ ]:
# 람다식 예제

#a = lambda x , y : x * y

def mul_func(x,y):
    return x* y

print(mul_func(10,50))

mul_func_var=mul_func

print(mul_func_var(20,50))

lambda_mul_func =lambda x,y : x*y

print(lambda_mul_func(50,50))

500
1000
2500

In [ ]:
def func_final(x,y,func) :
    print(x*y*func(100,100))

func_final(10,20,lambda x,y:x*y)

2000000

In [3]:
#예제 -> 예외처리
try :
    n = int(input('num: '))
    print('숫자군')
except ValueError :
    print('이것은 숫자가아니야')

num: 헿
이것은 숫자가아니야

In [6]:
#예제2 -> 올바른 값 이력 완료까지 지속
while True :
    try :
        n = int(input('num: '))

        break
    except ValueError :
        print('이것은 숫자가아니야')
print("숫자군")

num: 숫자
이것은 숫자가아니야
num: 3
숫자군

In [12]:
a = '변수는\"키\"'
print(a)

변수는"키"

In [13]:
raw1=r'D:\python\python3'
raw2=r"\\x\y\z\q"
print(raw1)
print(raw2)

D:\python\python3
\\x\y\z\q